@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto-light.woff2") format("woff2"), url("../fonts/roboto-light.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto-medium.woff2") format("woff2"), url("../fonts/roboto-medium.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto-blod.woff2") format("woff2"), url("../fonts/roboto-bold.woff") format("woff");
}
@font-face {
  font-family: "Yeseva One";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/yesevaone-regular.woff2") format("woff2"), url("../fonts/yesevaone-regular.woff") format("woff");
}
.page__body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  background: #1f1c1d;
}

.page__title {
  font-family: "Yeseva One", "Palatino Linotype", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}

.section__title {
  font-family: "Yeseva One", "Palatino Linotype", serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  color: #ffffff;
}

.section__text {
  color: #a07b50;
}

.header {
  background-color: #181617;
}

.header__text {
  color: #a07b50;
}

.slider__button {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.slider__button--active {
  color: #ffffff;
}

.article__title {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #a07b50;
}

.articles__link {
  color: #ffffff;
  text-decoration: none;
}

.team-card__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #a07b50;
}

.team-card__position {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #a07b50;
}

.faq__question {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ddd0c3;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.faq__text {
  color: #ddd0c3;
}

.review__author {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
}

.review__text {
  color: rgba(255, 255, 255, 0.72);
}

.review__date {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #a07b50;
}

.footer {
  background-color: #151313;
}

.footer__address {
  color: #d6ccc2;
  text-decoration: none;
}

.footer__phone {
  color: #fdf2e6;
  text-decoration: none;
}

.button {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
  color: #ffffff;
}