.article__title {
  font-family: $main-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: $accent-text-color;
}

.articles__link {
  color: $main-text-color;
  text-decoration: none;
}
