.footer {
  background-color: $footer-background-color;
}

.footer__address {
  color: $address-text-color;
  text-decoration: none;
}

.footer__phone {
  color: $phone-text-color;
  text-decoration: none;
}

