.team-card__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: $accent-text-color;
}

.team-card__position {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: $accent-text-color;
}
