$main-text-color: #ffffff;
$accent-text-color: #A07B50;
$hue-text-color: #DDD0C3;
$footer-text-color: #D6CCC2;
$background-color: #1F1C1D;
$accent-background-color: #181617;
$card-background-color: rgba(0, 0, 0, 0.3);
$inactive-element-color: rgba(255, 255, 255, 0.2);

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1366px;

$main-font: "Roboto", "Arial", sans-serif;
