$main-text-color: #ffffff;
$main-text-color-72: rgba(255, 255, 255, 0.72);
$accent-text-color: #a07b50;
$hue-text-color: #ddd0c3;
$address-text-color: #d6ccc2;
$phone-text-color: #fdf2e6;
$background-color: #1f1c1d;
$footer-background-color: #151313;
$accent-background-color: #181617;
$main-background-color: #1f1c1d;
$card-background-color: rgba(0, 0, 0, 0.3);
$inactive-element-color: rgba(255, 255, 255, 0.2);

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1366px;

$main-font: "Roboto", "Arial", sans-serif;
$accent-font: "Yeseva One", "Palatino Linotype", serif;
